<style >

body {
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 10px;
}

form {
    border: solid;
    border-color: mediumpurple;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 10px;
}

div {
    padding: 5px;
}

.btn-login {
    margin-left: 15%;
}

.btn-cancel {
    margin-left: 10px;
}

.checkbox {
    margin-left: 20%;
    font-size: 1.5rem;
}

#Label1 {
    margin-left: 12%;
}

</style >
